body {
    padding: 0 !important;
}

.navbar-collapse a {
    color: white;
}
.navbar-collapse {
    color: white;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #dfeaff;
    padding: 20px;
    margin-top: 100px;
}

.product-item h2 {
    text-transform: uppercase !important;
    font-size: 16px !important;
    margin-bottom: 2px;
}

.product-item span {
    margin-bottom: 5px;
}
.price {
    font-weight: bold;
}
.product-item {
    margin-top: 40px;
}
.description_product_container {
margin: 250px auto 350px auto;
}
.subtitle {
    display: block;
}
.cart-icon {
    color: white;
    height: 28px;
    margin: 0 10px;
}

.table td, .table th {
    vertical-align: middle;
}